{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Create task
        </div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}