<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('index') }}">Fairphone Urenregistratie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if app.user %}
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ activeMenu(['index']) }}">
                <a class="nav-link" href="{{ path('index') }}">Home</a>
            </li>
            <li class="nav-item {{ activeMenu(['tasks']) }}">
                <a class="nav-link" href="{{ path('tasks') }}">All tasks</a>
            </li>
        </ul>
        <span class="navbar-text">
      <a href="{{ path('create') }}" class="btn btn-success text-white">Create task</a>
      <a href="{{ path('app_logout') }}" class="btn btn-secondary text-white">Logout</a>
    </span>
    </div>
    {% endif %}
</nav>