{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="display-4">All tasks</h1>

    {% for task in tasks %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <p class="mb-0">Task #{{ task.id }}
                            <span class="badge badge-{{ task.done ? 'success' : 'danger' }}">
                        {{ task.done ? 'Done' : 'Not done' }}
                            </span>
                        </p>
                        <small class="text-muted">Created at: {{ task.createdAt|date() }}
                        </small>
                    </div>
                    <div class="col-4">
                        {% if task.user is same as(app.user) %}
                        <a href="{{ path('edit', {'id': task.id}) }}" class="btn btn-primary text-white float-right">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ task.description }}
            </div>
            <div class="card-footer">
                Created by: {{ task.user.email }}
            </div>
        </div>
    {% endfor %}
{% endblock %}